.body {
  max-width: 1920px;
  min-width: 375px;
  height: 100vh;
  margin: 0 auto;
  background: url('pic/iswanto-arif-448003-unsplash.png');
  background-size: cover;
}
.header {
  width: 100%;
  padding: 89px 114px 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: center;
}
.nav__link:not(:last-child) {
  margin: 0 34px 0 0;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Museo'
}
.section{

}
.bali__title{
  position: absolute;
  left: 4.4%;
  right: 62.15%;
  top: 12.26%;
  bottom: 40.23%;
  font-family: 'PTSerif';
  font-style: normal;
  font-weight: bold;
  font-size: 280px;
  line-height: 362px;
  display: flex;
  align-items: center;
  color: #f8eee4;
  opacity: 0.4;
}
.bali__subtitle{
position: absolute;
left: 10.71%;
right: 60.98%;
top: 40.61%;
bottom: 41.28%;
font-family: 'PTSerif'
font-style: normal;
font-weight: bold;
font-size: 98px;
line-height: 127px;
display: flex;
align-items: baseline;
color: #F8EEE4;
}
.bali__text{
position: absolute;
left: 5.49%;
right: 56.82%;
top: 65.55%;
bottom: 34.38%;
font-family: 'Museo';
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;

color: #F8EEE4;
}
.picture {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 5%;
  padding-left: 44.73%;
  padding-right: 37.73%;
}
.bali__btn {
  width: 209px;
  height: 44px;
  background: #D4BEA3;
  border-radius: 48px;
  font-family: 'Museo';
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff

}
